<div class="modal fade" id="exampleModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Regístrate o inicia sesión </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" #modal aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label for="inputPassword5" class="form-label" style="font-size: 13px;">Correo</label>
            <input type="text" name="" id="" placeholder="email"  class="input_form" formControlName="correo">
            <!-- <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" formControlName="correo"> -->
            <label for="inputPassword5" class="form-label"  style="font-size: 13px; margin-top: 17px;">Contraseña</label>
            <input type="password" name="" id="" placeholder="Contraseña" value={{loginForm.value.password}}  class="input_form" formControlName="password">
              <div *ngIf="loginForm.value.new">
                <label for="inputPassword5" class="form-label" style="font-size: 13px; margin-top: 17px;">Repetir Contraseña</label>
                <input type="password" name="" id="" placeholder="Contraseña"  class="input_form" (change)="checkPass($event)">
              </div>
            <input type="checkbox" formControlName="new" style="margin-top: 17px;" ><p>Soy Nuevo</p>
            <button type="button" class="btn btn-primary" style="margin-top: 30px; width: 100%;" (click)="fnEmail();">Continuar</button>
          </form>

        </div>

        <p style="margin: auto; font-size: 15px; margin-bottom: 10px;">o Iniciar sesión con</p>

        <div class="log_social">
            <a (click)="fnGoogle();" class="btn_social" ><img src="../../../subscription/assets/images/logog.png" alt=""></a>
            <a (click)="fnFace();" class="btn_social" >
                <img src="../../../subscription/assets/images/logof.png" alt="">
            </a>
            <a class="btn btn-primary" (click)="fnApple();" class="btn_social" ><img src="../../../subscription/assets/images/logoapple.png" alt=""></a>
        </div>

      </div>

    </div>

</div>

<div id="subscription" style="padding-left: 20px; padding-right: 20px;">

  <div id="subs" class="subs" [style]="calculateHeightPlan(subs.perks.length)" *ngFor="let subs of subscriptions">

        <div class="plan">
            <p id="sub_name" style="font-size: 19px; color: white; font-family: 'Roboto'; margin-bottom: 5px;" >{{subs.subscription_title}}</p>
            <p id="price" class="price" style="font-family: 'Roboto';">${{subs.selected_period.prices[0].price}}</p>
            <div id="select" class="select">
              <a id="period_btn" style="border-radius: 3px; font-family: 'Roboto'; font-size: 14px;" class="btn_" *ngFor="let period of subs.periods"
                  [ngClass]="{'btn_select' : subs.selected_period.id == period.id}" (click)="subs.selected_period = period"
              >{{period.period_title}}</a>
            </div>
        </div>

        <div id="perks" [style]="calculateHeightPerks(subs.perks.length)">
            <div *ngFor="let perk of subs.perks" style="align-items: center;">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0 auto; margin-bottom: -15px; fill: #a47e02; display:block;" height="30" viewBox="0 96 960 960" width="48"><path d="m826 471-42-42 45-45-157-157-45 45-43-43 30-31q23-23 57-22.5t57 23.5l129 129q23 23 23 56.5T857 441l-31 30ZM346 952q-23 23-56.5 23T233 952L90 809q-17-17.378-17-42.689T90 724l44-44 43 42-45 45 157 157 45-45 42 43-30 30Zm397-308 85-85-331-331-85 85 331 331ZM463 924l86-86-331-331-86 86 331 331Zm9-248 109-109-92-92-109 109 92 92Zm33 290q-16.934 17-41.967 17Q438 983 421 966L90 635q-17-16.934-17-41.967Q73 568 90 551l85-86q17.378-17 42.689-17T260 465l77 77 110-110-77-77q-17-16.934-17-41.967Q353 288 370 271l85-86q17.378-17 42.689-17T540 185l331 331q17 17.378 17 42.689T871 601l-86 85q-16.934 17-41.967 17Q718 703 701 686l-77-77-110 110 77 77q17 17.378 17 42.689T591 881l-86 85Z"/></svg> -->
              <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" style="margin: 0 auto; margin-bottom: -20px; color: #a47e02; display:block;" height="20"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 256h416"/><rect x="384" y="128" width="32" height="256" rx="16" ry="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="96" y="128" width="32" height="256" rx="16" ry="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="32" y="192" width="16" height="128" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="464" y="192" width="16" height="128" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
            <p class="perks" id="perk"  style="">
              {{perk.title}}
            </p>
            </div>
        </div>

        <div id="btn_choose">
              <button style="width: 80%; " id="choose_btn" type="button" class="btn btn-primary btn_register" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" (click)="contract(subs)">
                  Suscribir<br>
              </button>
        </div>

  </div>

</div>
